stages:
  - test
  - release

services: []

include:
  - component: gitlab.com/thelabnyc/thelab-ci-components/precommit@0.5.1
  - component: gitlab.com/thelabnyc/thelab-ci-components/publish-gitlab-release@0.5.1
  - component: gitlab.com/thelabnyc/thelab-ci-components/publish-to-pypi@0.5.1

test:
  stage: test
  image: "registry.gitlab.com/thelabnyc/python:${IMAGE}"
  services:
    - name: postgres:17@sha256:2b6239f32680c308921cf212902f881355c31ae92da0795b4fef29d8f0033021
      alias: db
  script:
    - uv sync --all-extras
    - uv run tox
  parallel:
    matrix:
      - IMAGE: py311
        TOX_SKIP_ENV: "^(?!py311-)"
      - IMAGE: py312
        TOX_SKIP_ENV: "^(?!py312-)"
      - IMAGE: py313
        TOX_SKIP_ENV: "^(?!py313-)"
