workflow:
  rules:
    - if: $CI_COMMIT_REF_PROTECTED == "true"
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

stages:
  - test
  - release

services: []

include:
  - component: gitlab.com/thelabnyc/thelab-ci-components/review@0.7.1
  - component: gitlab.com/thelabnyc/thelab-ci-components/precommit@0.7.1
  - component: gitlab.com/thelabnyc/thelab-ci-components/publish-gitlab-release@0.7.1
  - component: gitlab.com/thelabnyc/thelab-ci-components/publish-to-pypi@0.7.1

test:
  stage: test
  image: "registry.gitlab.com/thelabnyc/python:${IMAGE}"
  services:
    - name: postgres:18@sha256:b6b4d0b75c699a2c94dfc5a94fe09f38630f3b67ab0e1653ede1b7ac8e13c197
      alias: db
  script:
    - uv sync --all-extras
    - uv run tox
  parallel:
    matrix:
      - IMAGE: "3.11"
        TOX_SKIP_ENV: "^(?!py311-)"
      - IMAGE: "3.12"
        TOX_SKIP_ENV: "^(?!py312-)"
      - IMAGE: "3.13"
        TOX_SKIP_ENV: "^(?!py313-)"
      - IMAGE: "3.14"
        TOX_SKIP_ENV: "^(?!py314-)"
